In [ ]:
#pandas

In [5]:
#series - 1d array(coloumn in table)
import pandas as pd;
data=[1,2,3,4,5]
s=pd.Series(data)
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
#from dictionary
data2={'a':1,'b':2,'c':3}
z=pd.Series(data2)
print(z)
print(z[2])

a    1
b    2
c    3
dtype: int64
3

C:\Users\RITIK KUMAR\AppData\Local\Temp\ipykernel_97824\1832854142.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(z[2])

In [12]:
ds=[10,20,30]
idx=['a','b','c']

ns=pd.Series(ds,index=idx)
print(ns)
print(ns['a'])

a    10
b    20
c    30
dtype: int64
10

In [18]:
#dataframe
#create a dataframe from dictionary

data3={
    'Name':['ram','laxman','bhrat'],
    'type':['god','god','human'],
    'city':['ayodhyar','ayodhyal','ayodhyab']
}

df=pd.DataFrame(data3)
print(df)
print(type(df))

import numpy as np
np.array(df)
print(df.ndim)

     Name   type      city
0     ram    god  ayodhyar
1  laxman    god  ayodhyal
2   bhrat  human  ayodhyab
<class 'pandas.core.frame.DataFrame'>
2

In [19]:
#create a df from list of dictionaries

data4=[
    {'name':"raju",'age':19,'city':'patna'},
    {'name':"rahul",'age':21,'city':'ranchi'},
    {'name':"pinty",'age':17,'city':'bhopal'}
]

df1=pd.DataFrame(data4)
print(df1)

    name  age    city
0   raju   19   patna
1  rahul   21  ranchi
2  pinty   17  bhopal

In [22]:
#csv
samsung=pd.read_csv('samsum-train.csv')
print(samsung.head(10))

         id                                           dialogue  \
0  13818513  Amanda: I baked  cookies. Do you want some?\r\...
1  13728867  Olivia: Who are you voting for in this electio...
2  13681000  Tim: Hi, what's up?\r\nKim: Bad mood tbh, I wa...
3  13730747  Edward: Rachel, I think I'm in ove with Bella....
4  13728094  Sam: hey  overheard rick say something\r\nSam:...
5  13716343  Neville: Hi there, does anyone remember what d...
6  13611672  John: Ave. Was there any homework for tomorrow...
7  13730463  Sarah: I found a song on youtube and I think y...
8  13809976  Noah: When and where are we meeting? :)\r\nMad...
9  13809912  Matt: Do you want to go for date?\r\nAgnes: Wo...

                                             summary
0  Amanda baked cookies and will bring Jerry some...
1  Olivia and Olivier are voting for liberals in ...
2  Kim may try the pomodoro technique recommended...
3  Edward thinks he is in love with Bella. Rachel...
4  Sam is confused, because he overheard Rick com...
5  Wyatt reminds Neville his wedding anniversary ...
6  John didn't show up for class due to some work...
7  Sarah sends James an instrumental song he migh...
8  Noah wants to meet, he quit his job, because h...
9  Matt invites Agnes for a date to get to know e...

In [26]:
#acesing data from data frame
samsung['id']
samsung.loc[0]
samsung.iloc[0]

id                                                   13818513
dialogue    Amanda: I baked  cookies. Do you want some?\r\...
summary     Amanda baked cookies and will bring Jerry some...
Name: 0, dtype: object

In [32]:
#accessingspecified element
samsung['id']
samsung.at[1,'id']
for i in range(1,5):
    print(samsung.at[i,'id'])

print(samsung.iat[2,2])

13728867
13681000
13730747
13728094
Kim may try the pomodoro technique recommended by Tim to get more stuff done.

In [40]:
#data manipulation with datafields
#df1 ref
#add a coloumn
df1['salary']=[50000,6000,7000]
print(df1)

df1.drop('salary',axis=1)#temporary
df1.drop('salary',axis=1,inplace=True)#permanently
print(df1)

    name  age    city  salary
0   raju   19   patna   50000
1  rahul   21  ranchi    6000
2  pinty   17  bhopal    7000
    name  age    city
0   raju   19   patna
1  rahul   21  ranchi
2  pinty   17  bhopal

In [45]:
#incrementing age
df1['age']+=1
print(df1)

    name  age    city
0   raju   24   patna
1  rahul   26  ranchi
2  pinty   22  bhopal

In [47]:
#display
print(df1.dtypes)
print(df1.describe())

name    object
age      int64
city    object
dtype: object
        age
count   3.0
mean   24.0
std     2.0
min    22.0
25%    23.0
50%    24.0
75%    25.0
max    26.0