In [1]:
import sqlite3

In [3]:
#connect to an sqlite database

connction=sqlite3.connect("example.db")
print(connction)

<sqlite3.Connection object at 0x000002B8D1C132E0>

In [4]:
#create cursor
cursor=connction.cursor()

In [5]:
#create table
cursor.execute('''
create table If Not Exists Employees(
         id integer primary key,
        name text not null,
        age integer,
        department text
         )
        ''')

#commit
connction.commit()

In [7]:
cursor.execute("select * from employees")

In [10]:
#insert records
cursor.execute('''
insert into employees values(693,"Ritik",24,"cse")
               ''')

In [12]:
connction.commit()

In [16]:
#querying data
cursor.execute("select * from employees")
rows=cursor.fetchall()

for row in rows:
    print(row)

(693, 'Ritik', 24, 'cse')

In [19]:
#update data
cursor.execute('''
update employees set age=25 where name ="Ritik"
''')

connction.commit()

In [20]:
cursor.execute("select * from employees")
rows=cursor.fetchall()

for row in rows:
    print(row)

(693, 'Ritik', 25, 'cse')

In [ ]:
#deleting data
cursor.execute('''
delete from employees where age=25
''')

connction.commit()

In [22]:
cursor.execute("select * from employees")
rows=cursor.fetchall()

for row in rows:
    print(row)