In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
#creating a simple dataframe:

df1=pd.DataFrame({'color':['red','blue','green','red','blue']})

In [3]:
print(df1)

   color
0    red
1   blue
2  green
3    red
4   blue

In [6]:
#creating an instance of encoder
encoder=OneHotEncoder()
#perform fit transform
encoded=encoder.fit_transform(df1[['color']]).toarray()

In [7]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [8]:
print(encoder_df)

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [14]:
#for new data
newd=encoder.transform([['blue']]).toarray()

c:\Users\RITIK KUMAR\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [17]:
pd.concat([df1,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [18]:
## Label Encoder
from sklearn.preprocessing import LabelEncoder
lblencoder=LabelEncoder()

In [20]:
lblencoder.fit_transform(df1[['color']])

c:\Users\RITIK KUMAR\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [22]:
print(lblencoder.transform([['red']]))
print(lblencoder.transform([['green']]))
print(lblencoder.transform([['blue']]))

[2]
[1]
[0]

c:\Users\RITIK KUMAR\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\RITIK KUMAR\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\RITIK KUMAR\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [23]:
# problem- ranks and values
#so ordinal encoding is used
from sklearn.preprocessing import OrdinalEncoder

In [24]:
df2=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [ ]:
print(df2)
# now create an instance of ordinal encoder and then fit_transform

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [28]:
encoderord=OrdinalEncoder(categories=[['small','medium','large']])

In [29]:
encoderord.fit_transform(df2[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [30]:
## Target guided ordinal encoding

df3=pd.DataFrame({
    'city':['london','new york','patna','kolkata','thrissur','kochi'],
    'price':[200,150,300,250,180,320]
})

In [31]:
print(df3)

       city  price
0    london    200
1  new york    150
2     patna    300
3   kolkata    250
4  thrissur    180
5     kochi    320

In [33]:
mean_price=df3.groupby("city")['price'].mean().to_dict()

In [34]:
print(mean_price)

{'kochi': 320.0, 'kolkata': 250.0, 'london': 200.0, 'new york': 150.0, 'patna': 300.0, 'thrissur': 180.0}

In [36]:
df3['city_encoded']=df3['city'].map(mean_price)

In [37]:
print(df3)

       city  price  city_encoded
0    london    200         200.0
1  new york    150         150.0
2     patna    300         300.0
3   kolkata    250         250.0
4  thrissur    180         180.0
5     kochi    320         320.0