In [13]:
import pandas as pd;
#import io as io;
from io import StringIO;

data='''{
    "userId": "88-052-8576",
    "jobTitleName": "Social Worker",
    "firstName": "Mavis",
    "lastName": "Hilldrop",
    "dateOfJoining": "2020-09-20",
    "contactInfo": {
      "city": "Dallas",
      "phone": "972-454-9822",
      "emailAddress": "mhilldrop0@google.ca",
      "state": "TX",
      "zipcode": "75241"
    }}'''


   
jd1=pd.read_json(StringIO(data))
print(jd1)

                   userId   jobTitleName firstName  lastName dateOfJoining  \
city          88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
phone         88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
emailAddress  88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
state         88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
zipcode       88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20

                       contactInfo
city                        Dallas
phone                 972-454-9822
emailAddress  mhilldrop0@google.ca
state                           TX
zipcode                      75241

In [11]:
data1='''[
  {
    "userId": "88-052-8576",
    "jobTitleName": "Social Worker",
    "firstName": "Mavis",
    "lastName": "Hilldrop",
    "dateOfJoining": "2020-09-20",
    "contactInfo": {
      "city": "Dallas",
      "phone": "972-454-9822",
      "emailAddress": "mhilldrop0@google.ca",
      "state": "TX",
      "zipcode": "75241"
    },
    "children": [
      "Evaleen",
      "Coletta",
      "Leonelle"
    ],
    "salary": 203000
  },
  {
    "userId": "77-123-4567",
    "jobTitleName": "Data Analyst",
    "firstName": "John",
    "lastName": "Doe",
    "dateOfJoining": "2018-06-15",
    "contactInfo": {
      "city": "Austin",
      "phone": "512-555-1234",
      "emailAddress": "jdoe@example.com",
      "state": "TX",
      "zipcode": "73301"
    },
    "children": [],
    "salary": 95000
  },
  {
    "userId": "99-888-7777",
    "jobTitleName": "Software Engineer",
    "firstName": "Jane",
    "lastName": "Smith",
    "dateOfJoining": "2019-01-10",
    "contactInfo": {
      "city": "San Francisco",
      "phone": "415-555-5678",
      "emailAddress": "jsmith@example.com",
      "state": "CA",
      "zipcode": "94105"
    },
    "children": ["Tom"],
    "salary": 120000
  }
]'''

pd.read_json(StringIO(data1[0]))

ValueError: Expected object or value

In [19]:
print(jd1)
#if it gives index or garbage then use (orient)
back2json=jd1.to_json(orient='records')
print(back2json)

back2json=jd1.to_json(orient='index')
print(back2json)

                   userId   jobTitleName firstName  lastName dateOfJoining  \
city          88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
phone         88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
emailAddress  88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
state         88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20
zipcode       88-052-8576  Social Worker     Mavis  Hilldrop    2020-09-20

                       contactInfo
city                        Dallas
phone                 972-454-9822
emailAddress  mhilldrop0@google.ca
state                           TX
zipcode                      75241
[{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"Dallas"},{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"972-454-9822"},{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"mhilldrop0@google.ca"},{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"TX"},{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"75241"}]
{"city":{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"Dallas"},"phone":{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"972-454-9822"},"emailAddress":{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"mhilldrop0@google.ca"},"state":{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"TX"},"zipcode":{"userId":"88-052-8576","jobTitleName":"Social Worker","firstName":"Mavis","lastName":"Hilldrop","dateOfJoining":"2020-09-20","contactInfo":"75241"}}

In [22]:
data2=pd.read_csv('wine.data')
print(data2)

     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29   5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
1    1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03
2    1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.80  0.86
3    1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04
4    1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97   6.75  1.05
..  ..    ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...
172  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
173  3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70
174  3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59
175  3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

     3.92  1065
0    3.40  1050
1    3.17  1185
2    3.45  1480
3    2.93   735
4    2.85  1450
..    ...   ...
172  1.74   740
173  1.56   750
174  1.56   835
175  1.62   840
176  1.60   560

[177 rows x 14 columns]

In [ ]:
#create a csv on our own data or collected data
jd1.to_csv("created.csv")

In [29]:
pip install lxml

Collecting lxml
  Downloading lxml-5.4.0-cp310-cp310-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.4.0-cp310-cp310-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----------- ---------------------------- 1.0/3.8 MB 6.3 MB/s eta 0:00:01
   ---------------- ----------------------- 1.6/3.8 MB 3.7 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 3.1/3.8 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.6 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.4.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
url="https://www.fdic.gov/bank-failures/failed-bank-list"
failed_banklist=pd.read_html(url)
print(failed_banklist)#it is a list of tables

[                               Bank Name               City         State  \
0                   Pulaski Savings Bank            Chicago      Illinois
1     The First National Bank of Lindsay            Lindsay      Oklahoma
2  Republic First Bank dba Republic Bank       Philadelphia  Pennsylvania
3                          Citizens Bank           Sac City          Iowa
4               Heartland Tri-State Bank            Elkhart        Kansas
5                    First Republic Bank      San Francisco    California
6                         Signature Bank           New York      New York
7                    Silicon Valley Bank        Santa Clara    California
8                      Almena State Bank             Almena        Kansas
9             First City Bank of Florida  Fort Walton Beach       Florida

    Cert                Acquiring Institution      Closing Date  \
0  28611                      Millennium Bank  January 17, 2025
1   4134   First Bank & Trust Co., Duncan, OK  October 18, 2024
2  27332    Fulton Bank, National Association    April 26, 2024
3   8758            Iowa Trust & Savings Bank  November 3, 2023
4  25851               Dream First Bank, N.A.     July 28, 2023
5  59017            JPMorgan Chase Bank, N.A.       May 1, 2023
6  57053                  Flagstar Bank, N.A.    March 12, 2023
7  24735  First Citizens Bank & Trust Company    March 10, 2023
8  15426                          Equity Bank  October 23, 2020
9  16748            United Fidelity Bank, fsb  October 16, 2020

   Fund  Sort ascending
0                 10548
1                 10547
2                 10546
3                 10545
4                 10544
5                 10543
6                 10540
7                 10539
8                 10538
9                 10537  ]

In [ ]:
print(type(failed_banklist))
failed_banklist[0].to_csv("failedbanklist.csv")

<class 'list'>

In [44]:
urlcc="https://countrycode.org/"
urlv=pd.read_html(urlcc)   # ,match="country")
print(urlv)
print(urlv[0])
urlv[0].to_csv("countrycode.csv")

[               COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2  \
0          Afghanistan           93  AF / AFG    29121286    647500
1              Albania          355  AL / ALB     2986952     28748
2              Algeria          213  DZ / DZA    34586184   2381740
3       American Samoa        1-684  AS / ASM       57881       199
4              Andorra          376  AD / AND       84000       468
..                 ...          ...       ...         ...       ...
235  Wallis and Futuna          681  WF / WLF       16025       274
236     Western Sahara          212  EH / ESH      273008    266000
237              Yemen          967  YE / YEM    23495361    527970
238             Zambia          260  ZM / ZMB    13460305    752614
239           Zimbabwe          263  ZW / ZWE    11651858    390580

          GDP $USD
0    20.65 Billion
1     12.8 Billion
2    215.7 Billion
3    462.2 Million
4      4.8 Billion
..             ...
235            NaN
236            NaN
237  43.89 Billion
238  22.24 Billion
239  10.48 Billion

[240 rows x 6 columns],                COUNTRY COUNTRY CODE ISO CODES
0          Afghanistan           93  AF / AFG
1              Albania          355  AL / ALB
2              Algeria          213  DZ / DZA
3       American Samoa        1-684  AS / ASM
4              Andorra          376  AD / AND
..                 ...          ...       ...
235  Wallis and Futuna          681  WF / WLF
236     Western Sahara          212  EH / ESH
237              Yemen          967  YE / YEM
238             Zambia          260  ZM / ZMB
239           Zimbabwe          263  ZW / ZWE

[240 rows x 3 columns]]
               COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2  \
0          Afghanistan           93  AF / AFG    29121286    647500
1              Albania          355  AL / ALB     2986952     28748
2              Algeria          213  DZ / DZA    34586184   2381740
3       American Samoa        1-684  AS / ASM       57881       199
4              Andorra          376  AD / AND       84000       468
..                 ...          ...       ...         ...       ...
235  Wallis and Futuna          681  WF / WLF       16025       274
236     Western Sahara          212  EH / ESH      273008    266000
237              Yemen          967  YE / YEM    23495361    527970
238             Zambia          260  ZM / ZMB    13460305    752614
239           Zimbabwe          263  ZW / ZWE    11651858    390580

          GDP $USD
0    20.65 Billion
1     12.8 Billion
2    215.7 Billion
3    462.2 Million
4      4.8 Billion
..             ...
235            NaN
236            NaN
237  43.89 Billion
238  22.24 Billion
239  10.48 Billion

[240 rows x 6 columns]

In [46]:
pd.read_excel("sample.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [47]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [48]:
pd.read_excel("sample.xlsx")

     Name  Age
0    jack   55
1   binod   42
2    ramu   45
3    sahu   65
4  satish   45
5  anshul   25

In [50]:
dfexcel=pd.read_excel("sample.xlsx")
dfexcel.to_pickle('dfexcel')
pd.read_pickle("dfexcel")

     Name  Age
0    jack   55
1   binod   42
2    ramu   45
3    sahu   65
4  satish   45
5  anshul   25